@import './colors';

#calendar-page {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    #calendar-header {
        height: 5%;
    }

    .weekCalendar {
        width: 95%;
        height: 65%;
        margin: auto;
    }
}

.weekCalendar__headerColumn {

    background-color: $blue;
    font-weight: 500;
    border-top:none;
    background-color: $plain-white;
}

.dayCell {
    &:hover {
        background-color: $blue-light
    }
}



.customEvent {
    width: 100%;
    height: 100%;
    background-color:$blue;
}

.calendarModal__content {
    width:60%;
    height:90%;
    -webkit-box-shadow: 1px 5px 23px -2px rgba(199, 199, 199, 1);
    -moz-box-shadow: 1px 5px 23px -2px rgba(199, 199, 199, 1);
    box-shadow: 1px 5px 23px -2px rgba(199, 199, 199, 1);
    .customModal {
        display: flex;
        flex-direction: column;
        // padding: 10px;
        .modal-header{
            height:20%;
            
            h5{
                color:$black;
                text-align: center;
            }
        }
    
        .modal-container {
            display: flex;
            flex-direction: row;
            padding: 30px 20px;
            height:70%;

            .selections {
                width: 50%;
            }

            .summary {
             
                width: 50%;
                text-align: start;
                margin-left:10%;
                span{
                    text-align: center;
                }

            }

        }

        .modal-footer {
            display: flex;
            flex-direction: row;
            height:20%;
            margin:0;

            .modal__button__blue {
                width: 10%;
                height:10%;
                margin: 0 auto;
                color: $black;
                background-color: $blue;
                font-size: .9em;
                padding: 12px;
                font-weight: 600;
                border: solid 5px $blue;
                border-radius: 5px;
                -webkit-box-shadow: 1px 5px 23px -2px rgba(199, 199, 199, 1);
                -moz-box-shadow: 1px 5px 23px -2px rgba(199, 199, 199, 1);
                box-shadow: 1px 5px 23px -2px rgba(199, 199, 199, 1);
                margin:0;

                &:hover {
                    color: $plain-white;
                    background-color: $blue;
                }


            }

            .modal__button__cancel {
                width: 10%;
                height:10%;
                color: $blue;
                font-size: .9em;
                font-weight: 600;
                border: none;
                background-color:rgba(0,0,0,0);
                margin:0;
            }
        }
    }
}

.calendarModal__backdrop{
    background-color: rgba(0,0,0,0);

   
}