@import './colors';

.client-row {
    width: 90%;
    margin: auto;
    display: flex !important;
    flex-direction: row !important;



}
.create-client-title{
    width: 80%;
    height: 100%;
    font-weight: 500;
    font-size: 1.5em;
    margin-left: 6%;
    color: #E8A87C !important;
}

section {
    padding: 10px;
    width: 40%;
    display: flex;
    flex-direction: column;
    font-weight: 500;
    margin-right: 50px;
}

.email{
    margin-left:40px !important;
    width: 39%;
}
#submit {
    margin-right: 30px;
    margin-top: 10px;
    text-align: center;
    color: $white;
    background-color: rgb(4, 160, 158);
    font-size: 1em;
    padding: 5px 15px;
    font-weight: 700;
    height: 50px;
    border-radius: 5px;
    &:hover {
        color: $plain-white;
        background-color: rgb(139, 220, 191);
    }
}