@import'./colors';

#profile-page {
    width: 88%;
    height: 100%;
    background-color: $blue-light;


    #profile-header {
        background: rgb(0, 158, 157);
        background: linear-gradient(90deg, rgba(0, 158, 157, 1) 0%, rgba(133, 220, 186, 0.8939950980392157) 100%, rgba(133, 220, 186, 1) 100%);
        color: $white;
        height: 30%;
        width: 100%;
        display: flex;
        flex-direction: row;
        padding-top: 3%;
        padding-left: 5%;

        #user-info {
            width: 60%;
            display: flex;
            flex-direction: row;

            #user-image {
                width: 30%;

                #gravatar {
                    width: 50%;
                    height: auto;
                    border-radius: 5px;
                    border: 1px solid rgb(78, 193, 176);
                }
            }

            #user-details {
                width: 70%;
            }
        }

        #company-details {
            width: 40%;
        }
    }

    #all-stats {
        width: 100%;
        height: 20%;
        display: flex;
        flex-direction: row;
        margin-top: -80px;

        .stats {
            margin: auto;
            width: 300px;
            height: 100px;
            background-color: #fff;
            display: flex;
            flex-direction: row;
            border-radius: 4px;

            .number {
                color: #E8A87C;
                margin: auto 0px auto 45px;
                font-size: 2em !important;
                font-weight: 500;
                border-right: 1px solid #000;
                padding-right: 20px;

            }

            .stat-text {
                margin: auto 0px auto 20px;
                font-weight: 600;
            }
        }

    }

    #profile-body {
        height: 70%;
        width: 100%;
        display: flex;
        flex-direction: column;

        // #body-header {
        //     display: flex;
        //     flex-direction: row;
        //     height: 15%;

        //     #dashboard-title {
        //         width: 50%;
        //         padding-left: 80px;
        //     }
        // }

        #body-section {
            display: flex;
            flex-direction: row;
            height: 100%;


            #daily-appoint {
                width: 30%;
                height: 80%;
                border-radius: 5px;
                background-color: #fff;
                margin-left: 8%;
                background-color: #fff;
                overflow-y: auto;

                #daily-appoint-title {
                    text-align: center;
                    padding-top: 20px;
                    font-weight: 600;
                    margin-top: 5px;
                    margin-bottom: 15px;
                }


                #schedule {
                    display: flex;
                    flex-direction: column;

                    #no-appoints {
                        text-align: center;
                        font-weight: 600;
                    }

                    .all-appointments {

                        border-left: 5px solid;
                        border-radius: 4px;
                        display: flex;
                        flex-direction: row;
                        background-color: $white;
                        width: 90%;
                        height: 80px;
                        margin: auto;
                        text-align: center;
                        margin-bottom: 20px;

                        div {
                            width: 50%;
                            margin-top: 20px;
                            margin-left: 5px;
                        }

                    }
                }

            }

            #body-side {
                display: flex;
                flex-direction: column;
                width: 60%;
                margin-left: 4%;

                #company-calendar-link {
                    height: 50%;
                    width: 88%;

                    border-radius: 5px;
                    background-color: #fff;
                    padding: 20px;

                    #link-title {
                        font-weight: 600;

                    }

                    #link-description {

                        width: 70%;
                        margin: auto;
                        margin-top: 50px;
                        margin-bottom: 25px;
                        font-size: 1em;
                        font-weight: 450;
                        
                    }

                    #public-calendar-link {
                        margin:auto;
                        width:80%;
                        display: flex;
                        flex-direction: row;

                        #link-to-Pcalendar {
                            color: #E27D60;
                            font-weight: 700;
                            margin-left: 12%;
                            margin-right:2%;
                        }
                        #copy-btn{
                            margin-top:-20px;
                            #copy-svg{
                                color: #E27D60; 
                            }
                        }
                    }
                }

                #employees-section {
                    width: 88%;
                    display: flex;
                    flex-direction: column;
                    background-color: #fff;
                    padding: 20px;
                    margin-top: 20px;
                    border-radius: 5px;

                    #employee-title {
                        font-weight: 600;
                        text-align: center;
                    }

                    div {
                        display: flex;
                        flex-direction: row;
                        margin: auto;

                        .employee-card {
                            display: flex;
                            flex-direction: row;
                            background-color: $white;
                            width: 250px;
                            padding: 10px;
                            border-radius: 10px;
                            margin-left: 15px;

                            overflow-x: auto;

                            .employee-gravatar {
                                margin-top: 10px;
                                margin-left: 5px;
                                border-radius: 5px;

                            }

                            div {
                                margin-top: 10px;
                                width: 80%;
                                margin-left: 5%;
                                display: flex;
                                flex-direction: column;
                            }
                        }
                    }
                }
            }
        }
    }
}

.text-center {
    text-align: center;
}