@import './_colors';

#service-page {
      width: 88%;
      height: 100%;
      display: flex;
      flex-direction: column;
      overflow: auto;
      background-color: $blue-light;

      #service-header {
            background: rgb(0, 158, 157);
            background: linear-gradient(90deg, rgba(0, 158, 157, 1) 0%, rgba(133, 220, 186, 0.8939950980392157) 100%, rgba(133, 220, 186, 1) 100%);
            color: $white;
            height: 30%;
            display: flex;
            flex-direction: row;

            h2 {
                  width: 80%;
                  font-weight: 600;
                  margin-top: 50px;
                  margin-left: 50px;
                  color: $plain-white;
            }

            button {
                  width: 200px;
                  height: 50px;
                  color: $black;
                  font-size: .9em;
                  margin: 45px 0px;
                  padding: 12px;
                  background-color: $plain-white;
                  font-weight: 700;
                  border-radius: 5px;
                  &:hover {
                        color: #17A9A3;
                  }
            }

      }

      #service-content {
            height: 90%;
            width: 95%;
            margin: auto;
            margin-top:-80px;
            background-color: $plain-white;
            // -webkit-box-shadow: 1px 5px 23px -2px rgba(199, 199, 199, 1);
            // -moz-box-shadow: 1px 5px 23px -2px rgba(199, 199, 199, 1);
            // box-shadow: 1px 5px 23px -2px rgba(199, 199, 199, 1);
            border-radius: 5px;
            overflow: auto;

            table {

                  width: 90%;
                  margin: 0 auto;
                  margin-top: 1%;
                
                  thead {

                        tr {

                              th {
                                    border-top: none;
                                    padding: 20px 10px;
                                    margin-left: 0px;
                                    color: $blue-dark;
                                    font-size: 1.2em;
                                   

                              }
                        }
                  }

                  tbody {
                        tr {


                              th {
                                    padding: 20px;
                                    font-weight: 600 !important;
                                    color: $black;
                              }

                              td {
                                    padding: 20px;
                                    font-weight: 500;



                                    svg {
                                          font-size: 1.2em;
                                          cursor: pointer;

                                    }

                                    .edit {
                                          color: $blue-dark;

                                    }

                                    .delete {
                                          color: #975057;
                                    }
                              }
                        }
                  }
            }

      }
}
.spinner-width{
      width:100px !important;
      height:100px  !important;
  }