@import './_colors';


#nav-container {
    width: 12%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: $plain-white;
    border-right: 1px solid #ECECEC;
    padding: 20px;

    #nav-head {
        height: 10%;
        width: 100%;
        display: flex;
        align-content: center;

        #appointes-logo {
            width: 80px;
            margin: auto;
            margin-top: 20px;


        }

    }


    #nav-links {
        height: 50%;


        #nav-links-container {
            height: 100%;
            display: flex;
            flex-direction: column;
            margin-top: 50px;


            .side-link {
                width: 100%;
                text-decoration: none;

                .item-link {
                    width: 80%;
                    display: flex;
                    flex-direction: row;
                    margin: 30px auto;
                    margin-left: 10px;

                    .nav-link-icon {
                        width: 30%;
                        color: $black;

                        .nav-svg {
                            color: $black;
                            font-size: 1em;
                            margin-bottom: 1px;
                        }
                    }

                    .nav-text {
                        width: 70%;
                        color: $black;
                        margin: auto 0;
                        margin-left: 32px;
                        font-weight: 500;
                        display: block;
                    }




                }

                &:hover {

                    .nav-text {
                        color: rgb(0, 158, 157);
                    }
                
                    .nav-link-icon {
                        .nav-svg {
                            color: rgb(0, 158, 157) ;
                        }
                    }
                }

   
            }

        }

    }


    #nav-logout {
        height: 30%;

        #nav-logout-content {
            height: 10%;
            display: flex;
            flex-direction: row;
            margin-top: 300px;

            #nav-gravatar {
                width: 40%;
                margin: auto;

                #gravatar {
                    border-radius: 100%;
                    width: 50px;
                    height: 50px;
                }
            }

            #logout-group {
                width: 80%;
                cursor: pointer;
                display: flex;
                flex-direction: row;
                margin-left: 10px;


                #logout {
                    width: 60%;
                    font-weight: 500;
                    margin-top: 12px;
                    display: flex;
                    flex-direction: row;

                    span {
                        display: block;
                    }

                    #svg {
                        width: 20%;
                        font-size: 0.9em;
                        color: $black;
                        margin-left: 4px;
                    }

                    &:hover,
                    &:hover #svg {
                        color: #8BDCC0;
                    }

                }

            }
        }
    }
}

.active {

    .nav-text {
        color: rgb(0, 158, 157) !important;
    }

    .nav-link-icon {
        .nav-svg {
            color: rgb(0, 158, 157) !important;
        }
    }
}

@media only screen and (max-width: 1366px) and (max-height: 1024px) {

    #nav-container {
        #nav-links {
            #nav-links-container {
                .link {
                    .item-link {
                        .nav-link-icon {
                            .nav-svg {
                                margin-left: 40px;
                            }
                        }

                        .nav-text {
                            display: none;
                        }
                    }

                }
            }
        }

        #nav-logout {
            height: 30%;

            #nav-logout-content {
                margin-top: 310px;
            }
        }
    }


}

@media only screen and (max-width: 1024px)and (max-height: 1366px) {

    #nav-container {
        #nav-links {
            #nav-links-container {
                .link {
                    .item-link {
                        .nav-link-icon {
                            .nav-svg {
                                margin-left: 20px;
                            }
                        }

                        .nav-text {
                            display: none;
                        }
                    }

                }
            }
        }

        #nav-logout {
            height: 30%;

            #nav-logout-content {
                margin-top: 410px;
                flex-direction: column;
            }
        }
    }
}

@media only screen and (max-width: 1024px)and (max-height: 768px) {
    #nav-container {
        #nav-head {
            #appointes-logo {
                width: 60px;
            }
        }

        #nav-links {
            #nav-links-container {
                .link {
                    .item-link {
                        .nav-link-icon {
                            .nav-svg {
                                margin-left: 18px;
                            }
                        }

                        .nav-text {
                            display: none;
                        }
                    }
                }
            }
        }

        #nav-logout {
            height: 30%;

            #nav-logout-content {
                margin-top: 250px;
                flex-direction: row;

                #nav-gravatar {
                    #gravatar {
                        width: 30px;
                        height: 30px;
                    }
                }

                #logout-group {

                    #logout {
                        margin-top: 3px;
                        margin-left: 3px;

                        span {
                            display: none;
                        }

                    }

                }

            }
        }
    }

}

@media only screen and (max-width: 768px)and (max-height:1024px) {

    #nav-container {
        #nav-head {
            #appointes-logo {
                width: 50px;
            }
        }

        #nav-links {
            #nav-links-container {
                .link {
                    .item-link {
                        .nav-link-icon {
                            .nav-svg {
                                margin-left: 6px;
                            }
                        }

                        .nav-text {
                            display: none;
                        }
                    }
                }
            }
        }

        #nav-logout {
            height: 30%;

            #nav-logout-content {
                margin-top: 350px;
                flex-direction: row;

                #nav-gravatar {
                    #gravatar {
                        width: 30px;
                        height: 30px;
                    }
                }

                #logout-group {

                    #logout {
                        margin-top: 3px;
                        margin-left: 3px;

                        span {
                            display: none;
                        }

                    }

                }

            }
        }
    }
}