@import './_colors';


#nav-container {
    width: 12%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: $plain-white;
    border-right: 1px solid #ECECEC;
    padding: 20px;

    #nav-head {
        height: 10%;
        width: 100%;
        display: flex;
        align-content: center;

        #appointes-logo {
            width: 80px;
            margin: auto;


        }

    }


    #nav-links {
        height: 50%;


        #nav-links-container {
            height: 100%;
            display: flex;
            flex-direction: column;
            margin-top: 50px;


            .link {
                width: 100%;
                text-decoration: none;

                .item-link {
                    width: 80%;
                    display: flex;
                    flex-direction: row;
                    margin: 30px auto;
                    margin-left: 10px;

                    .nav-link-icon {
                        width: 30%;
                        color: $black;

                        .nav-svg {
                            color: $black;
                            font-size: 1em;
                            margin-bottom: 1px;
                        }
                    }

                    .nav-text {
                        width: 70%;
                        color: $black;
                        margin: auto 0;
                        margin-left: 32px;
                        font-weight: 500;
                        display: block ;
                    }

                    &:hover {
                        color: $blue;
                    }


                }

            }

        }

    }

    // #nav-buttons {
    //     height: 30%;
    //     display: flex;
    //     flex-direction: row;

    //     button {
    //         width: 110%;
    //         height: 50%;
    //         color: $black;
    //         font-size: .9em;
    //         margin-top: 10px;
    //         margin-left: 20px;
    //         padding: 12px;
    //         background-color: $blue;
    //         border: none;
    //         font-weight: 600;
    //         border: solid 5px $blue;
    //         border-radius: 5px;
    //         -webkit-box-shadow: 1px 5px 23px -2px rgba(199, 199, 199, 1);
    //         -moz-box-shadow: 1px 5px 23px -2px rgba(199, 199, 199, 1);
    //         box-shadow: 1px 5px 23px -2px rgba(199, 199, 199, 1);

    //         &:hover {
    //             color: $plain-white;
    //         }
    //     }
    // }


    #nav-logout {
        height: 30%;

        #nav-logout-content {
            height: 10%;
            display: flex;
            flex-direction: row;
            margin-top: 200px;

            #nav-gravatar {
                width: 40%;
                margin: auto;

                #gravatar {
                    border-radius: 100%;
                    width: 50px ;
                    height:50px ;
                }
            }

            #logout-group {
                width: 80%;
                cursor: pointer;
                display: flex;
                flex-direction: row;
                margin-left: 10px;


                #logout {
                    width: 60%;
                    font-weight: 500;
                    margin-top: 12px;
                    display: flex;
                    flex-direction: row;
                    span {
                        display: block ;
                    }

                    #svg {
                        width: 20%;
                        font-size: 0.9em;
                        color: $black;
                        margin-left: 4px;
                    }

                    &:hover,
                    &:hover #svg {
                        color: $blue;
                    }

                }

            }
        }
    }
}

.active {
    color: $blue;

}

@media only screen and (min-width: 1400px) and (min-height: 1050px) {

    .nav-text {
        display: none ;
    }

    .nav-svg {
        margin-left: 40px ;
    }

    #nav-logout {
        #nav-logout-content {
            margin-top: 250px ;
        }
    }
}

@media only screen and (min-width: 1050px)and (min-height: 1400px) {

    .nav-text {
        display: none ;
    }

    .nav-svg {
        margin-left: 20px ;
    }

    #nav-logout {
        #nav-logout-content {
            margin-top: 400px ;
        }
    }
}

@media only screen and (min-width: 775px)and (min-height: 1050px) {
    #appointes-logo {
        width: 60px ;
    }

    .nav-text {
        display: none ;
    }

    .nav-svg {
        margin-left: 5px ;
    }

    #nav-logout {
        #nav-logout-content {
            margin-top: 300px ;
            flex-direction: row ;
        }
    }

    #logout {
        margin-top:3px ;
        margin-left:3px ;
        span {
            display: none ;
        }
    }

    #gravatar {
        width: 30px ;
        height:30px ;
    }
}

@media only screen and (min-width: 1050px)and (min-height: 775px) {
    #appointes-logo {
        width: 60px ;
    }

    .nav-text {
        display: none ;
    }

    .nav-svg {
        margin-left: 20px ;
    }

    #nav-logout {
        #nav-logout-content {
            margin-top: 200px ;
            flex-direction: row ;
        }
    }

    #logout {
        margin-top:3px ;
        margin-left:3px ;
        span {
            display: none ;
        }
    }

    #gravatar {
        width: 30px ;
        height:30px ;
    }
}