@import '../colors';

#public {
    width: 100%;
    height: 100%;
    background-color: $plain-white;

    #public-header {
        height: 20%;
        width: 100%;
        display: flex;
        flex-direction: row;
        color: $white;
        background: rgb(0, 158, 157);
        background: linear-gradient(90deg, rgba(0, 158, 157, 1) 0%, rgba(133, 220, 186, 0.8939950980392157) 100%, rgba(133, 220, 186, 1) 100%);
        // border-bottom: 1px solid #E1E7EC;
        // -webkit-box-shadow: 1px 5px 5px -10px rgb(244,244,246);
        // -moz-box-shadow: 1px 5px 5px -10px rgb(244,244,246);
        // box-shadow: 1px 5px 5px 2px rgb(244,244,246);

        #public-company-info {
            width: 70%;
            padding-top:30px;
            padding-left:100px;
        }

        #provided {
            width: 30%;
        }
    }

    #body-header {
        height: 10%;
        display: flex;
        flex-direction: row;
        margin-top: -60px !important;
    }

    #employees {
        height: 50%;
        width: 50%;
        display: flex;
        flex-direction: row;
        color: $white;
        margin: auto;

        .employee-button {
            .employee-card {
                display: flex;
                flex-direction: row;
                background-color: $white;
                width: 250px;
                height: 70px;
                padding: 10px;
                border-radius: 10px;
                margin-left: 15px;


                .employee-gravatar {
                    border-radius: 5px;

                }

                div {
                    margin-top: 10px;
                    width: 80%;
                    margin-top: 0;
                    display: flex;
                    flex-direction: column;
                    font-size: 0.9em;
                    .employee-name{
                        font-weight:600;
                    }
                    .employee-job{
                        font-weight:500;
                        margin-top:-10px;
                    }
                }
                &:hover {
                    color:#E27D60;
                     box-shadow: 0px 18px 40px -12px rgba(182, 181, 181, 0.356);
                }
            }
        }
    }


    #public-body {
        height: 80%;
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 80px;

        #day-switches {
            width: 40%;
            height: 10%;
            margin-left: 42%;
            margin-top: -20px;
            display: flex;
            flex-direction: row;

            button {
                background-color: #009E9D;
                border-color: #009E9D;
                color: $white;
                border-radius: 5px;
                height: 49px;

                -webkit-box-shadow: 1px 5px 23px -2px rgb(167, 164, 164);
                -moz-box-shadow: 1px 5px 23px -2px rgb(167, 164, 164);
                box-shadow: 1px 5px 23px -2px rgb(167, 164, 164);

                &:hover {
                    border-color: #C38D9E;
                    background-color: #C38D9E;

                }
            }

            .arrow {
                font-size: 1.5em;
                padding: 0;
                font-weight: 800;
                width: 50px;
                padding: 6px;

            }

            #today {
                padding: 12px 18px;
                font-size: .9em;
                font-weight: 600;
            }

            #previous {
                margin-right: 20px;
            }

            #forward {
                margin-left: 20px;
            }

        }


        #public-calendar {
            height: 80%;
        }
    }
}



.selected {
    color:#E27D60 !important;
    -webkit-box-shadow: 0px 18px 40px -12px rgba(182, 181, 181, 0.356) ;
    -moz-box-shadow: 0px 18px 40px -12px rgba(182, 181, 181, 0.356) ;
    box-shadow: 0px 18px 40px -12px rgba(182, 181, 181, 0.356) !important ;

}